.form-group {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	width: 10%;
	margin-left: 45%;
	
}

li {
	list-style-type: none;
}

body {
  background-color: white;
  background-image: url(/static/img/campbackground.jpg);
  background-repeat: repeat;
  background-size: 80px 60px;
  background-attachment: fixed;


  color: #3e3f3a;
}

/*nav bar decoration*/
.navbar-inverse {
  background-color: #3E3F3A;
  border-color: #3E3F3A;
  border-radius: 0;
  -moz-border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}
.navbar-inverse .navbar-nav>li>a {
  color:#98978b;
}

.navbar-inverse .navbar-brand {
  color:#ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #3E3F3A
}

/*profile page css*/

#profile-image{
  background-color: white;
  text-align: center;
  border-radius: 25px;
}

#profile-image-info{
  background-color: #93c54b;
  margin-top: 10px;
  padding: 40px;
  color: white;
  border-radius: 25px;
  opacity:0.7;
}

#profile-info{
  background-color: #29abe0;
   margin-top: 55px;
   padding: 40px;
   color: white;
   border-radius: 25px;
   opacity:0.7;
}

#main-div{
  background-color: white;
}

/*.only-bottom-margin {
  margin-top: 0px;
}*/

/*.activity-mini {
  padding-right: 15px;
  float: left;
}*/

/*.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}*/


/*.file-upload {
    display: none;
}*/

