.form-group {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	width: 10%;
	margin-left: 45%;
	
}

li {
	list-style-type: none;
}

body {
  background-color: #eaeaea;
}

img.avatar {
  border: 1px solid #eee;
  height: 10%;
}

.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
/*css for infinite scroll*/
/*body {
    margin: 0;
    background-color: #F0F0F0;
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}*/