.form-group {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	width: 10%;
	margin-left: 45%;
	
}

li {
	list-style-type: none;
}

body {
  background-color: white;
  background-image: url(/static/img/campbackground.jpg);
  background-repeat: repeat;
  background-size: 80px 60px;
  background-attachment: fixed;

  color: #3e3f3a;
}

/*nav bar decoration*/
.navbar-inverse {
  background-color: #3E3F3A;
  border-color: #3E3F3A;
  border-radius: 0;
  -moz-border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}
.navbar-inverse .navbar-nav>li>a {
  color:#98978b;
}

.navbar-inverse .navbar-brand {
  color:#ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #3E3F3A
}

/*profile page css*/

#profile-page{
  max-width: 800px;
 background-color: white;




}


#about-user-title{
  border-bottom: 2px #29abe0 solid;
  margin-bottom: 10px;
}

#profile-image{
  text-align: center;
}

#about-body{
  background-color:#f47c3c;
  border-radius: 25px;
  padding: 40px;
  color: white;

}
.text{
  opacity:0.8;
}

#member-since{
  text-align: right;
}
/*.only-bottom-margin {
  margin-top: 0px;
}*/

/*.activity-mini {
  padding-right: 15px;
  float: left;
}*/

/*.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}*/


/*.file-upload {
    display: none;
}*/

