<!doctype html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
<ul>
              {% if "user_id" in session %}
                  <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
              {% endif %}
</ul>




{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %} {% endblock %}


<!-- <form action = '/logout'>
<input type="submit" value = 'logout'>
</form> -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/app.js"></script>

</body>
</html>