
{% extends 'base.html' %}
{% block content %}


<form action="/login" method="POST">

<div class="form-group">
            <label class="col-lg-5 control-label">Email address</label>
            <div class="col-lg-10">
            <input type="email" name = "email" class="form-control"  placeholder="Email">
            </div>
</div>


<div class="form-group">
            <label class="col-lg-5 control-label">Password</label>
            <div class="col-lg-8">
              <input type="password" name ="password"class="form-control" placeholder="Password">
        	</div>
</div>

  <div class="form-group">
            <div class="col-md-10"><br>
            <button type="submit" class="btn btn-default" value="Submit">Submit
            </button>
          </div>
</form>







{% endblock %}