{% extends 'base.html' %}
{% block content %}
<div>
<ul>
	{% for note in notes %}
	<li>
		<div id="note-item">
			<a href = '/view_note/{{note.note_id}}'>
				<p id="note-title">{{note.title_note}}</p>
				<p id"note">{{note.note}}</p>
				{{user_info.username}}<br>
			<img src="/static/images/{{user_info.images[0].image}}" width="100">
			</a>
			<button type="button" data-note-id="{{note.note_id}}" class="delete-button">Delete Note</button>
		</div>
	</li>
	{% endfor %}
</ul>
</div>

<script>

function reloadPage(results){
	location.reload(true);
}

function deleteNote(evt){
	

	var noteItem = {
	"note_id": $(evt.target).data("note-id")
	};

	$.post("/delete_note_from_list.json", noteItem, reloadPage);
	console.log("im in the function");
}


$(".delete-button").click(deleteNote)
</script>

{% endblock %}