{% extends 'base.html' %}
{% block content %}
<div>
<ul>
	{% for note in notes %}
	<li>
		<div class = "row note-row">
			<div class="col-md-3 col-md-offset-2">
				<span>{{user_info.username}}</span>
				<a href = "/users/{{user_info.user_id}}">
				<div id="note-image">
					<img src="/static/images/{{user_info.images[0].image}}"  class="img-thumbnail img-responsive" width="100">
				</div>
				</a>
			</div>

			<div class="col-md-6">
				<div id="note-item">
					<div id="note-title-page">{{note.title_note}}</div>
					<div id="note-page">{{note.note}}</div>
				
				<div id="timestamp" class="note-timestamp">
					{{note.note_created}}
				</div>
				</div>
				<div class ="note-button">
				
				<button type="button" data-note-id="{{note.note_id}}" class="view-button"><a href ='/view_note/{{note.note_id}}'>View Note</a></button>
				<button type="button" data-note-id="{{note.note_id}}" class="delete-button">Delete Note</button>
			</div>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
</div>




<script>

function reloadPage(results){
	location.reload(true);
}

function deleteNote(evt){
	

	var noteItem = {
	"note_id": $(evt.target).data("note-id")
	};

	$.post("/delete_note_from_list", noteItem, reloadPage);
	console.log("im in the function");
}


$(".delete-button").click(deleteNote)
</script>

{% endblock %}