
{% extends 'base.html' %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<!-- display user info -->


<div class="container">
  <h2>{{user.username}}</h2>           
  <img src="/static/images/{{user.images[0].image}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
</div>

        
Email:{{user.email}}<br>
Age:{{user.age}}<br>
Location:{{user.city}}, {{user.state}}<br>
Bootcamp:{{user.boot_camp_name}}<br>
Languages known:{{user.languages}}<br>
Member since {{user.member_since}}<br>
questions asked: <p id="question-count">{{user.question_count()}}</p><br>
questions answered: {{user.comment_count()}}<br>

<!-- use static because flask looks for files in static folder -->

<div class="logo">
  <a href="{{user.linkedin_url}}"><img border="0" alt="linkedin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width="20" height="20"></a>
  <a href="{{user.github_url}}"><img border="0" alt="github" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" width="20" height="20"></a>
</div>







{% endblock %}