{% extends 'base.html' %}
{% block content %}

<!-- display user info -->
{{user.username}}<br>          
Email:{{user.email}}<br>
Age:{{user.age}}<br>
Location:{{user.city}}, {{user.state}}<br>
Bootcamp:{{user.boot_camp_name}}<br>
Languages known:{{user.languages}}<br>
Member since {{user.member_since}}<br>
questions asked:{{user.question_count()}}<br>
questions answered: {{user.comment_count()}}<br>
Profile Image <img src="/static/images/{{user.images[0].image}}" width="200">
<!-- use static because flask looks for files in static folder -->

<div class="logo">
  <a href="{{user.linkedin_url}}"><img border="0" alt="linkedin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width="20" height="20"></a>
  <a href="{{user.github_url}}"><img border="0" alt="github" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" width="20" height="20"></a>
</div>


<!-- search button -->
<form action = "/search-questions", method="GET">
<!--  <input type = "text" name ="search" id="search" placeholder="What are you looking for..."> -->
 <button type="submit">Search</button>
</form>

<!-- Allows user to view past written questions -->
<form action = "/view_questions">
  <input type="submit" value = 'view questions'>
</form>

<!-- Allows user to view past written notes -->
<form action = "/view_notes">
  <input type="submit" value = 'view notes'>
</form>

<!-- click to edit profile page -->
<form action = '/edit-profile'>
<input type="submit" value = 'Edit Page'>
</form>

<!-- Calls question modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Ask a question</button>

<!-- Calls notes modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">Write a note</button>


<!-- Question Modal window -->
<form action="/ask_question", method="POST">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <h4 class="modal-title" id="myModalLabel"><input type = "text" name ="title_question" id="question" placeholder="Write a title..."></h4>
      </div>
    <div class="modal-body">
  <!-- Input information within modal -->
  <input type = "text" name ="question" id="question" placeholder="write something...">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</div>
</form>

<!-- Notes Modal window -->
<!-- code is overwriting  -->
<form action="/write_note", method="POST">
<div class="modal-dialog modal-lg">
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <h4 class="modal-title" id="myModalLabel"><input type = "text" name ="title_note" id="note-title" placeholder="Write a title..."></h4>
      </div>
    <div class="modal-body">
  <!-- Input information within modal -->
  <input type = "text" name ="note" id="note" placeholder="write something...">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</div>
</div>
</form>
{% endblock %}