{% extends 'base.html' %}
{% block content %}


<!-- question page -->

<!-- question page -->
<div class="row" id="full-question-layout">
  <div class="col-md-3"></div>
  <div class="col-md-2" id="question-image">
    <a href="/users/{{user_asker.user_id}}">
      <div id="question-image-layout">
        <img src="/static/images/{{user_asker.images[0].image}}" width="100">
      </div>
    </a>
  </div>
  <div class="col-md-3" id="question-layout">
    <span class="tip tip-left"></span>
    <span>{{user_asker.username}}</span>
    <span>Comments: {{ ask.comment_on_question_count() }}</span>
    <div>
      <h3>{{ask.title_question}}</h3>
      <br> {{ask.question}}
    </div>
    <div>{{ask.question_created}}</div>
  </div>
  <div class="col-md-4"></div>
</div>



<!-- comments -->

<div>
  <ul id="comments">

    {% for comment in comments %}
    <li>
      <div class="row" id="full-question-layout">
        <div class="col-md-3"></div>

      <!--   <div class="col-md-2" id="question-image">
          <a href="/users/{{comment.user_id}}">
            <div id="question-image-layout">
              <img src="/static/images/{{comment.image}}" width="100">
            </div>
          </a>
        </div> -->

        <div class="col-md-3" id="question-layout">
          <span class="tip tip-left"></span>
          <span>{{comment.user}}</span>
          <div>
            {{comment.comment}}
          </div>
          <div>
            {{comment.comment_timestamp}}
          </div>
          <div>
            <button class="vote" data-direction="up" data-comment-id="{{comment.comment_id}}" id="{{comment.comment_id}}"> {{comment.vote}} 
        </button>
          </div>
        </div>

         <div class="col-md-2" id="question-image">
          <a href="/users/{{comment.user_id}}">
            <div id="question-image-layout">
              <img src="/static/images/{{comment.image}}" width="100">
            </div>
          </a>
        </div>

        <div class="col-md-4"></div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>






 <!--  <div class="col-md-4"></div>
</div> -->


<!-- <div class="row" id="full-question-layout">
	<div class="col-md-3"></div>

		<div class="col-md-2" id="question-image">
		<ul id = "comments">
			{% for comment in comments %}
			<li>
				<a href = "/users/{{comment.user_id}}">
					<div>
						<img src="/static/images/{{comment.image}}" width="100"></div>
				



				{{comment.comment}}<br>
				{{comment.comment_timestamp}}<br>
				<button class="vote" data-direction="up" data-comment-id="{{comment.comment_id}}" id ="{{comment.comment_id}}"> {{comment.vote}} </button>
			</li>
			{% endfor %}
		</ul>

	<div class="col-md-4"></div>
</div> -->	


<div>
<input type = "text" name = "comment" placeholder = "write a comment" id = "write-comment">

<input type="button" value="add comment" id = "add-comment">
</div>







<script>
function showResult(resp){
	var commentCount = parseInt($("#comment-count").text());
  	commentCount += 1
  	$("#comment-count").text(commentCount)

	$("#comments").append("<li>" + '<a href = "/users/' + resp.user_id + '">' + resp.comment_author + '</a>' + '<img src="/static/images/' + resp.comment_auth_image + '" width="100">'+ $("#write-comment").val() + '<button class ="vote" data-direction = "up" data-comment-id="' + resp.comment_id + '"id="' + resp.comment_id +'"> ' + resp.vote + ' </button>' + resp.comment_timestamp + '</li>');
		
	$("#write-comment").val("");
	$(".vote").click(submitVote);

	
}
function submitComment(evt) {
	var comment = {
		"comment": $("#write-comment").val(),
		"question_id": getQuestionId()
	};

$.post("/add-comment.json", comment, showResult);

}

function getQuestionId() {
	componenets = window.location.href.split("/")
	idx = componenets.length - 1
	return componenets[idx]
}

$("#add-comment").on("click", submitComment);

// *******************************************

function updateVote(results) {
	var updated_vote = results["vote"];
	$("#"+results['comment_id']).text(updated_vote);
	console.log("Vote added")
}


function submitVote(evt) {
	var voted_item = {
		"voted_item": $(evt.target).data("direction"),
		"comment_id": $(evt.target).data("comment-id")
	}
	
	$.get("/add-vote.json", voted_item, updateVote);

}

$(".vote").click(submitVote);

</script>



{% endblock %}