{% extends 'base.html' %}
{% block content %}

<div class = "row" id = "search-box">
			<div class="col-md-6 col-md-offset-2">
<h3>Camp Buddy Search!</h3>
 <input type = "text" name ="search" id="search" class="form-control" placeholder="What are you looking for...">
 <button class = "search-question" type="button">Search</button>
</div>
</div>


<div class = "row">
<div class="col-md-11" >
	<ul id="questions">

		
	</ul>
</div>
</div>


<script>

function showResults(results){
	 
	var returnedQuestions = results;
	
	for (var key in returnedQuestions){
		
		$("#questions").append("<li>" + '<div class="row" id="full-question-layout">'+ 
			'<div class="col-md-2 col-md-offset-1" id="question-image">' +
				'<a href = "/users/' + returnedQuestions[key][5] + '">' + 
					'<div id ="question-image-layout">' + 
								'<img src="/static/images/' + returnedQuestions[key][3] + '" class="img-thumbnail img-responsive" width="100">' + 
							'</div>' + 
						'</a>' +
						'</div>' + '<a href = "/question_and_comment/' + key + '" id = "invisible-tag">' + 

						'<div class="panel panel-default col-md-8" >' + '<span class="tip tip-left">' + '</span>' + '<div class="panel-heading">' + returnedQuestions[key][2] + '<span class="asked-on"> asked on ' + returnedQuestions[key][6] + '</span>' + '<span class="comments-on">' + returnedQuestions[key][4] + ' comments</span>' + ' </div>' + ' <div class="panel-body">' + ' <div class ="title-ques">' + returnedQuestions[key][1] + '</div>' + '<br>' + '<div>' + returnedQuestions[key][0] + '</div>' + '</div>' + '</div>' +'</a>' + '</div>' + "</li>")		
	};
	$("#search").val("")

}


function getMatch() {
	var searchItem = $("#search").val();

	var search = {
		"search_item": searchItem
	};
	$.get('/return-search', search, showResults);
	
	$("#questions").html("")
}




$(".search-question").click(getMatch)

</script>


{% endblock %}