{% extends 'base.html' %}
<head></head>
{% block content %}
<div>
<ul id="questions">
	{% for ask in questions %}
	<li>
		<div>
		<a href = '/question_and_comment/{{ask.question_id}}'>{{ask.title_question}}{{ask.question}}</a>
		<a href = "/users/{{user_info.user_id}}">{{user_info.username}}</a>
		{{ask.question_created}}<br>
		<img src="/static/images/{{user_info.images[0].image}}" width="100"><br>
		comments on question:{{ask.comment_on_question_count()}}<br>
	</div>
	</li>
	{% endfor %}
</ul>
</div>





{% endblock %}