
{% extends 'base.html' %}
{% block content %}
<!-- question page -->


<div class="row" id="full-question-layout" >
        <div class="col-md-2 col-md-offset-1" id="question-image">
          <a href = "/users/{{user_asker.user_id}}">
            <div id ="question-image-layout">
              <img src="/static/images/{{user_asker.images[0].image}}" class="img-thumbnail img-responsive" width="100">
            </div>
          </a>
        </div>
       
        <div class="panel panel-default col-md-8" >
          <span class="tip tip-left"></span>
              <div class="panel-heading">{{user_asker.username}} <span class="asked-on">asked on {{ask.question_created}} </span> <span class="comments-on">{{ ask.comment_on_question_count() }} comments</span>
              </div>
          <div class="panel-body">
            <div class ='title-ques'>{{ask.title_question}}</div><br>
          <div>{{ask.question}}</div>
          </div>
        </div>
      
</div>







<!-- comments -->

<div>
  <ul id="comments">

    {% for comment in comments %}
    <li>

    <div class="row" id="full-question-layout" >
      
       
        <div class="panel panel-default col-md-7 col-md-offset-1" >
          <span class="tip tip-right"></span>
              <div class="panel-heading">{{comment.user}} <span class="asked-on">replied on {{comment.comment_timestamp}} </span> 
              </div>
          <div class="panel-body">
           
          <div>{{comment.comment}}</div>
          </div>
        </div>

        <div class="col-md-2" id="question-image">
          <a href = "/users/{{comment.user_id}}">
            <div id ="question-image-layout">
              <img src="/static/images/{{comment.image}}" class="img-thumbnail img-responsive" width="100">
            </div>
          </a>
        </div>

        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <button class="vote" data-direction="up" data-comment-id="{{comment.comment_id}}" id="{{comment.comment_id}}"> {{comment.vote}}</button>
        
      </div>
      

    </li>
    {% endfor %}
  </ul>
</div>





<div class="row">

<div class="col-md-6 col-md-offset-2" id="comment-wrapper">
<textarea name = "comment" class ="inline form-control" placeholder = "write a comment" id = "write-comment"></textarea> 
<br>
<input class ="form-control" type="button" value="add comment" id= "add-comment"> 
</div>

<div class="col-md-2">
 
 <img src="/static/images/{{user.images[0].image}}" class="img-responsive img-thumbnail"  alt="Cinque Terre" width="70">
 
</div>

</div>





<script>
function showResult(resp){
  var commentCount = parseInt($("#comment-count").text());
    commentCount += 1
    $("#comment-count").text(commentCount)
  $("#comments").append("<li>" + '<div class="row" id="full-question-layout">' + 
       '<div class="panel panel-default col-md-7 col-md-offset-1" >' +
          '<span class="tip tip-right">' + '</span>' + '<div class="panel-heading">' + resp.comment_author + '<span class="asked-on"> replied on ' + resp.comment_timestamp + '</span>' + '</div>' + '<div class="panel-body">' + '<div>' +  $("#write-comment").val() + '</div>' + '</div>' + '</div>' + '<div class="col-md-2" id="question-image">' + '<a href="/users/' +  resp.user_id + '">' + '<div id ="question-image-layout">' + '<img src="/static/images/' + resp.comment_auth_image + '"class="img-thumbnail img-responsive" width="100">' + '</div>' + '</a>'  + '</div>' + ' <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>' + ' <button class="vote" data-direction="up" data-comment-id="' + resp.comment_id + '" id="' +  resp.comment_id + '" >' +  resp.vote +  '</button>'+ '</div>'+ "</li>");
    
  $("#write-comment").val("");
  $(".vote").click(submitVote);
  
}
function submitComment(evt) {
  var comment = {
    "comment": $("#write-comment").val(),
    "question_id": getQuestionId()
  };
$.post("/add-comment.json", comment, showResult);
}
function getQuestionId() {
  componenets = window.location.href.split("/")
  idx = componenets.length - 1
  return componenets[idx]
}
$("#add-comment").on("click", submitComment);

// *******************************************


function updateVote(results) {
  var updated_vote = results["vote"];
  $("#"+results['comment_id']).text(updated_vote);
  
}

function submitVote(evt) {
  var voted_item = {
    "voted_item": $(evt.target).data("direction"),
    "comment_id": $(evt.target).data("comment-id")
  }
  
  $.post("/add-vote.json", voted_item, updateVote);
    
}
$(".vote").click(submitVote);

</script>



{% endblock %}