{% extends 'base.html' %}
{% block content %}

<h3>Please type in keys words seperate by spaces to allow for best search results</h3>
 <input type = "text" name ="search" id="search" placeholder="What are you looking for...">
 <button class = "search-question" type="button">Search</button>



<div>
<ul id="questions">
	
</ul>
</div>


<script>

function showResults(results){
	var returnedQuestions = results;
	
	for (var key in returnedQuestions){
		
		$("#questions").append("<li>" + '<a href = "/users/' + returnedQuestions[key][5] + '">'+ returnedQuestions[key][2] + '</a>' + '<img src="/static/images/' + returnedQuestions[key][3] + '" width="100">' +  "<a href='/question_and_comment/"+key+"'>"+ returnedQuestions[key][0] + "," + returnedQuestions[key][1] + "</a>" + "number of comments" + returnedQuestions[key][4] + "</li>")
		console.log(key);
		
			
	};
	$("#search").val("")

}


function getMatch() {
	var searchItem = $("#search").val();

	var search = {
		"search_item": searchItem
	};
	$.get('/return-search', search, showResults);
	console.log("found a match");
	$("#questions").html("")
}




$(".search-question").click(getMatch)

</script>


{% endblock %}