{% extends 'base.html' %}
{% block content %}

<h3>Please type in keys words seperate by spaces to allow for best search results</h3>
 <input type = "text" name ="search" id="search" placeholder="What are you looking for...">
 <button class = "search-question" type="button">Search</button>



<div>
	<ul id="questions">

		
		</ul>
</div>


<script>

function showResults(results){
	
	var returnedQuestions = results;
	
	for (var key in returnedQuestions){
		
		$("#questions").append("<li>" + '<div class="row" id="full-question-layout">'+ 
			'<div class="col-md-2 col-md-offset-3" id="question-image">' +
				'<a href = "/users/' + returnedQuestions[key][5] + '">' + 
					'<div id ="question-image-layout">' + 
								'<img src="/static/images/' + returnedQuestions[key][3] + '" class="img-thumbnail img-responsive" width="100">' + 
							'</div>' + 
						'</a>' +
						'<div>' + returnedQuestions[key][2] + '</div>' + 
					'</div>' + 
					'<a href = "/question_and_comment/' + key + '">' + 
					'<div class="col-md-3" id="question-layout">' + 
						'<span class="tip tip-left"></span>' + 

							'<div>' + 
								returnedQuestions[key][1] + '<br>' + returnedQuestions[key][0] + 
							'</div>' + 
							'<div id="timestamp">' + returnedQuestions[key][6] + '</div>' + 
							'</div>' +  '</a>' + 
							'<ul class="nav nav-pills">' + 
								'<li>Comments' +  '<span class="badge" id="comment-count">' + returnedQuestions[key][4] + '</span>' + '</li>' + 
							'</ul>' + 
				'<div>' + "</li>")		
	};
	$("#search").val("")
console.log("im here");
}


function getMatch() {
	var searchItem = $("#search").val();

	var search = {
		"search_item": searchItem
	};
	$.get('/return-search', search, showResults);
	console.log("found a match");
	$("#questions").html("")
}




$(".search-question").click(getMatch)

</script>


{% endblock %}