{% extends 'base.html' %}
{% block content %}
<div>
	<ul id="questions">
	{% for ask in questions %}
		<li>
			<div class="row" id="full-question-layout" >
				<div class="col-md-2 col-md-offset-1" id="question-image">
					<a href = "/users/{{user_info.user_id}}">
						<div id ="question-image-layout">
							<img src="/static/images/{{user_info.images[0].image}}" class="img-thumbnail img-responsive" width="100">
						</div>
					</a>
				</div>
				<a href = '/question_and_comment/{{ask.question_id}}' id = 'invisible-tag'>
				<div class="panel panel-default col-md-8" >
					<span class="tip tip-left"></span>
  						<div class="panel-heading">{{user_info.username}} <span class="asked-on">asked on {{ask.question_created}} </span> <span class="comments-on">{{ ask.comment_on_question_count() }} comments</span>
  						</div>
  				<div class="panel-body">
    				<div class ='title-ques'>{{ask.title_question}}</div><br>
					<div>{{ask.question}}</div>
  				</div>
				</div>
			</a>

			</div>
				
		</li>

	{% endfor %}
</ul>
</div>





{% endblock %}