{% extends 'base.html' %}
{% block content %}
<!-- input information for user registration -->



<form action="/register" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <h1> Registration </h1>
    <!-- image upload start -->

    <input type="file" name="image-upload" class="form-control">

    <!-- image uplaod end -->

    <label for="username">Username</label>
    <input type="username" name = "username" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="text" name ="email"class="form-control" id="exampleInputPassword1" placeholder="Email">
  </div>
   <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name ="password"class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="age">Age</label>
    <input type="text" name ="age"class="form-control" id="exampleInputPassword1" placeholder="Age">
  </div>
   <div class="form-group">
    <label for="city">City</label>
    <input type="text" name ="city"class="form-control" id="exampleInputPassword1" placeholder="City">
  </div>
   <div class="form-group">
    <label for="state">State</label>
    <input type="text" name ="state"class="form-control" id="exampleInputPassword1" placeholder="State">
  </div>
   <div class="form-group">
    <label for="boot_camp_name">Boot Camp Name</label>
    <input type="text" name ="boot_camp_name"class="form-control" id="exampleInputPassword1" placeholder="Bootcamp Name">
  </div>
   <div class="form-group">
    <label for="languages">What Languages do you know</label>
    <input type="text" name ="languages"class="form-control" id="exampleInputPassword1" placeholder="HTML,CSS, Python...">
  </div>
  <div class="form-group">
    <label for="linkedin_url">LinkedIn URL</label>
    <input type="text" name ="linkedin_url"class="form-control" id="exampleInputPassword1" placeholder="LinkedIn URL">
  </div>
  <div class="form-group">
    <label for="github_url">Github URL</label>
    <input type="text" name ="github_url"class="form-control" id="exampleInputPassword1" placeholder="Github URL">
  </div>

<!-- Submits registration info -->
  <button type="submit" class="btn btn-default" value="Submit">Submit</button>
</form>



{% endblock %}