{% extends 'base.html' %}
{% block content %}
<!-- input information for user registration -->



<form action="/register" method="POST" enctype="multipart/form-data">   

  

  <div class="row">
      <!-- left column -->
      
      <div class="col-md-4 col-md-offset-2">
         
        <div class="text-center" id = "register-image">
           <h1>Sign up!</h1>
          <img src="/static/img/balloonicorn.png" class="img-thumbnail img-responsive profile-pic" alt="Cinque Terre" width="300">  

             <div class="upload-button">Upload Image</div>
            <input type="file" name="image-upload" class="file-upload" id="upload" style="display: none;" accept="image/*" >


        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-4 personal-info">

          <div class="form-group">
            <label class="col-lg-5 control-label">Bootcamp:</label>
            <div class="col-lg-10">
            <input type ="text" name ="boot_camp_name" class="form-control" id="boot-camp-name-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Email:</label>
            <div class="col-lg-10">
             <input  type="text" name ="email" id="email-update" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Age:</label>
            <div class="col-lg-10">
              <input type="number" class="form-control"  name ="age" id="age-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">City:</label>
            <div class="col-lg-10">
              <input  type="text" class="form-control" name ="city" id="city-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">State:</label>
            <div class="col-lg-10">
              <input  type="text" class="form-control" name ="state" id="state-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">LinkedIn:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name ="linkedin_url" id="linkedin-url-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Github:</label>
            <div class="col-lg-10">
              <input  type="text" class="form-control" name ="github_url" id="github-url-update">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Skills:</label>
            <div class="col-lg-10">
              <input  type="text" class="form-control" name ="languages" id="languages-update"> 
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-5 control-label">About:</label>
            <div class="col-lg-8">
              <textarea class="form-control" name ="about" id="about-user" placeholder="Write something..."></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Username:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name ="username" id="username">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-5 control-label">Password:</label>
            <div class="col-lg-10">
              <input class="form-control" name="password" type="text">
            </div>
          </div>

        

          <div class="form-group">
            <div class="col-md-10"><br>
            <button type="submit" class="btn btn-default" value="Submit">Submit
            </button>
          </div>

      </div>
</form>

<script>

$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });
});


</script>



{% endblock %}