{% extends 'base.html' %}
{% block content %}

{{user_note.title_note}}{{user_note.note}}

<a href = "/users/{{user_info.user_id}}">{{user_info.username}}</a>

Note created: {{user_note.note_created}}<br>
<img src="/static/images/{{user_info.images[0].image}}" width="100">

<form action = '/edit-note/{{user_note.note_id}}'>
<input type="submit" value = 'Edit Page'>
</form>

<form action = '/delete-note/{{user_note.note_id}}'>
<input type="submit" value = 'Delete Note'>
</form>





{% endblock %}