{% extends 'base.html' %}
{% block content %}



<div class = "row note-row">
			<div class="col-md-3 col-md-offset-2">
				<span>{{user_info.username}}</span>
				<a href = "/users/{{user_info.user_id}}">
				<div id="note-image">
					<img src="/static/images/{{user_info.images[0].image}}"  class="img-thumbnail img-responsive" width="100">
				</div>
				</a>
			</div>

			<div class="col-md-6">
				<div id="note-item">
					<div id="note-title-page">{{user_note.title_note}}</div>
					<div id="note-page">{{user_note.note}}</div>
				
				<div id="timestamp" class="note-timestamp">
					{{user_note.note_created}}
				</div>
				</div>
<div class = "note-button">
				<span id="edit-button">
					<!-- <form action = '/edit-note/{{user_note.note_id}}'> -->
  <input type="submit" class="view-button" value = 'Edit Note' data-toggle="modal" data-target="#myModal3">
<!-- </form> -->
</span>

<span id="delete-button">
	<form action = '/delete-note/{{user_note.note_id}}'>
<input type="submit" class="delete-button" value = 'Delete Note'>
</form></span>
			</div>
    </div>
		</div>



<div class="modal-dialog modal-lg">
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <h4 class="modal-title" id="myModalLabel">Write a note!</h4>
      </div>
    <div class="modal-body">
  <!-- Input information within modal -->
  <input type = "text" value="{{user_note.title_note}}" size="75" name ="title_note" id="note-edit-title" class="form-control" placeholder="Write a title...">

  <textarea name ="note" size="75" id="note-edit" class="form-control">{{user_note.note}}</textarea>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" id="note-edit-submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</div>
</div>

<script>
function showNote(results){
  console.log("note added");
  // location.reload(true);
}

function submitNote(){
  var title = $("#note-edit-title").val()
  var note = $("#note-edit").val()

  $("#note-edit-title").val("")
  $("#note-edit").val("")

  var fullNote = { 
  	"note_id": getNoteId,
    "title": title,
    "note": note
  };


function getNoteId() {
	componenets = window.location.href.split("/")
	idx = componenets.length - 1
	return componenets[idx]
}


  $.post("/edit_current_note.json", fullNote, showNote)

  $('#myModal3').modal('hide');
}

$("#note-edit-submit").click(submitNote)

</script>



{% endblock %}